*{ margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(aa.webp);
}

 h1{
    margin: 40px 0px;
    font-family: sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 10px black;
    text-align: center;
    position: relative;
    animation: animate 1.5s ease-in-out;


}
@keyframes animate{
    0%{
        transform: translatey(-100px);
        color: red;
        opacity: 0;
    
    }
}
h1::before{
    content: "";
    position: absolute;
    width: 42px;
    height: 6px;
    background-color: red;
    bottom: -10px;
    left: 50%;
    box-shadow: 2px 2px 10px red;
    transform: translateX(-50%);
    animation: before  2s  linear infinite;
}
@keyframes before{
    0%{
        width: 5px;
    }
    50%{
        width: 390px;
    }
    100%{
        width: 50px;
    }
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px 100px 100px;
    
}
.column{
    flex: 25%;
    max-width: 25%;
}
.img-hover-zoom{
    height: auto;
    overflow: hidden;
    border: 5px solid white;
        box-shadow: 4px 4px 20px white, -4px -4px 20px white;
}
.img-hover-zoom img{
    vertical-align: middle;
    margin: 0;
    padding: 0%;
    border: 0;
    transition: transform .5s ease;
}
.img-hover-zoom:hover img{
    transform: scale(1.5);
}
@media (max-width:800px) {
    .column{
        flex: 50%;
        max-width: 50%;
    }
}
    @media (max-width:500px){
        .column{
flex: 100%;
max-width: 100%;
        }
    }
